body{
    margin: 0px;
    padding: 0px;

    padding: 22vh 0px 0px
}

body button{
    background-color: rgba(0,0,0,0);
    border: none;

    background-image: url("../img/carrinho.svg");
    background-repeat: no-repeat;

    position: fixed;
    top: 3.5vh;
    right: 5vh;

    height: 5vh;
    width: 5vh;
}

h1{
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

h3{
    font-size: 3.5vw;
}

#voltar{
    margin-left: 20px;
}
#titulo{
    text-align: center;
}

#carrinho{
    position: fixed;
    top: 15vh;
    left: 5vw;
    width: 90vw;
    height: 60vh;
    z-index: 1;
    overflow: scroll;

    border: black 2px solid;
    background-color: rgba(255, 255, 255, 1.0);
}
a{
    color: black;
}
#logosite{
    position: absolute;
    margin-left: 5px;
    margin-top: -110px;  
}
